.carousel{
    background-color: white;
}
.col-lg-4{
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    text-align: center;
}
.m{
    background-color: khaki;
    width: 100vw;
}
@media screen and (max-width:800px) {
    .m{
        background-color: turquoise;
    }
}
footer.container{
    text-align: center;
}